.video {
    position: relative;
    margin-top: 35px;
    width: 400px;
    height: 90vh;
    border-radius: 20px;
}
  
.video-player {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.button {
    border-radius: 100px;
    background-color: transparent;
    border: transparent;
}

.button:hover {
    border: 0.5px solid white;
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
}
  
.header {
    position: absolute;
    min-width: fit-content;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
  
.sidePanel {
    position: absolute;
    right: 18px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.footer {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    flex-direction: column;
    bottom: 10px;
}
  
.vidDescription {
    display: flex;
    padding: 10px;
    margin-left: 8px;
    color: white;
    margin-right: 40px;
}
  
.vidDetails {
    display: flex;
    align-items: center;
    padding: 10px;
}
  
.vidDetails > p {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-weight: 500;
}
  
.vidDetails > button.subscribe {
    padding: 7px;
    background-color: rgba(177, 177, 177, 0.609);
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

.vidDetails > button.subscribed {
    padding: 7px;
    background-color: red;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}
  
.vidDetails > button:hover {
    background-color: rgb(253, 54, 54);
}
