.video {
    position: relative;
    margin-top: 5px;
    width: 100%;
    height: 98vh;
    border-radius: 20px;
}
  
.video-container {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.button {
    border-radius: 100px;
    background-color: rgba(255,255,255,0.1);
    border: transparent;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
}
  
.header {
    position: absolute;
    min-width: fit-content;
    top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
  
.sidePanel {
    position: absolute;
    right: 5%;
    bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.footer {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    flex-direction: column;
    bottom: 2%;
}
  
.vidDescription {
    display: flex;
    margin-left: 1vw;
    color: white;
}
  
.vidDetails {
    display: flex;
    padding: 2%;
    align-items: center;
    color: white;
}
  
.vidDetails > p {
    margin-left: 1vw;
    margin-right: 1vw;
    color: white;
}
  
.vidDetails > button.subscribe {
    padding: 3%;
    background-color: rgba(177, 177, 177, 0.5);
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    border-radius: 18px;
    cursor: pointer;
}

.vidDetails > button.subscribed {
    padding: 3%;
    background-color: red;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    border-radius: 18px;
    cursor: pointer;
}
  
.vidDetails > button.subscribe:hover {
    background-color: rgba(177, 177, 177, 0.9);
}

.vidDetails > button.subscribed:hover {
    background-color: rgb(255, 23, 23);
}
